{% extends 'main/base_template.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="flex-column flex-center">
        <h1 class="page-header">Вход</h1>
    </div>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Данные для входа</legend>
                {{ form|crispy }}
            </fieldset>
            <div style="margin-top: 25px;" class="form-group flex-center flex-column flex-gap-25">
                <button class="btn btn-outline-info submit-button" type="submit">Вход</button>
            </div>
        </form>
    </div>
{% endblock content %}